<h3 *ngIf="isDriver">Atualizar motorista</h3>
<h3 *ngIf="!isDriver" >Atualizar técnica</h3>
<div mat-dialog-content>
  <form [formGroup]="form" >
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label *ngIf="isDriver">Motorista</mat-label>
          <mat-label *ngIf="!isDriver">Técnica</mat-label>
          <mat-select formControlName="personId">
            <mat-option *ngFor="let item of personResult" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
        <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
</div>