@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.client-table-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin: 16px 16px 32px 16px;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $small) {
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
  }

  &__search {
    display: flex;
    align-items: center;
    float: left;
  }

  &__icon-wrapper {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: inherit;
  }

  &__search-input {
    font-size: $fs-normal;
    height: 32px;
    border: 0;
    border-bottom: 1px solid $grey;
    outline: none;

    @media (max-width: $small) {
      width: 150px;
    }

    &:focus {
      border-bottom: 2px solid $blue;
    }
  }

  &__button {
    box-shadow: none;
    background-color: inherit;
    width: 46px;
    height: 46px;
    color: $grey;

    &:hover {
      background-color: $black-08;
      color: $blue;
    }
  }
}

.client-table {
  margin-top: 24px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
    margin-bottom: 0;
  }

  &__title {
    font-size: $fs-medium;
    font-weight: $fw-lighter;
    margin: 0;
    text-align: left;
    line-height: 40px;
  }

  &__cell {
    font-size: $fs-small;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 24px;
    padding: 16px;
  }

  &__content {
    height: 424px;
    overflow-y: hidden;
    overflow-x: scroll;

    @media (max-width: $small) {
      height: auto;
    }
  }

  &__table {
    width: 100%;
  }

  &__table-row {
    height: 64px;
  }

  &__table-row-title {
    color: $dark-grey;
    font-size: $fs-small;
    font-weight: $fw-lighter;
    line-height: 24px;
    text-transform: uppercase;
    padding: 16px;
    text-align: left;
  }

  &__table-content {
    color: $dark-grey;
    font-size: $fs-small;
    padding: 20px;
  }

  
}

