    <mat-card class="availability-table">
        <mat-card-title class="availability-table__header">
            <h5 class="availability-table__title">Disponibilidade de Equipamentos</h5>
            
            
            
        
        </mat-card-title>
        <div class="row" style="margin-left: 20px;">
            <div class="col">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div  class="availability-table-wrapper__search">
                        <div class="availability-table-wrapper__separate">
                            <input matInput class="availability-table-wrapper__search-input" [matDatepicker]="dp"  placeholder="Data Início" formControlName="startDate" >
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </div>
        
                        <div class="availability-table-wrapper__separate">
                            <input matInput class="availability-table-wrapper__search-input" [matDatepicker]="dp1"  placeholder="Data Final"  formControlName="endDate" >
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1></mat-datepicker>
                        </div>

                        <div class="availability-table-wrapper__separate">
                            <mat-select formControlName="equipamentId" class="availability-table-wrapper__search-input" placeholder="Equipamento">
                                <mat-option value="">Todos</mat-option>
                                <mat-option *ngFor="let item of equipamentResult" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                        </div>
                        
                        <div class="availability-table-wrapper__separate">
                            <input matInput placeholder="Busca Cliente" aria-label="State" [matAutocomplete]="auto"  formControlName="client" class="availability-table-wrapper__search-input1" style="margin-top: 3px;">

                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngIf="isLoading" class="is-loading">Carregando...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let option of clientResult" [value]="option">
                                    <span>{{ option.name }} - {{option.city.nome}} - {{option.state.sigla}}</span>
                
                                    </mat-option>
                                </ng-container>
                                </mat-autocomplete>
                                <span *ngIf="notFound">Não encontrado.</span>
                        </div>
                        
        
                        <button mat-raised-button color="primary" >Buscar</button>
                    </div>
                </form>

                
            </div>
        </div>
    
        <mat-card-content >
            <table class="availability-table__table" mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="data" >
                    <th class="availability-table__table-header" mat-header-cell *matHeaderCellDef > DATA </th>
                    <td class="availability-table__table-body" mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="horario" >
                    <th class="availability-table__table-header" mat-header-cell *matHeaderCellDef > HORÁRIO </th>
                    <td class="availability-table__table-body" mat-cell *matCellDef="let element"> {{showTime(element)}} </td>
                </ng-container>
                <ng-container matColumnDef="equipamento" >
                    <th class="availability-table__table-header" mat-header-cell *matHeaderCellDef > EQUIPAMENTO </th>
                    <td class="availability-table__table-body"  mat-cell *matCellDef="let element">
                        <span style="float: left; width: 100%;">{{element.equipament.name}}</span>  
                        <span style="float: left;" >{{descriptionSpecifications(element)}} </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="locatario" >
                    <th class="availability-table__table-header" mat-header-cell *matHeaderCellDef > LOCATÁRIO </th>
                    <td class="availability-table__table-body" mat-cell *matCellDef="let element"> {{element.noCadastre ? element.temporaryName : element.client.name}} </td>
                </ng-container>

                

                <ng-container matColumnDef="tecnica" >
                    <th class="availability-table__table-header" mat-header-cell *matHeaderCellDef > TÉCNICA </th>
                    <td class="availability-table__table-body" mat-cell *matCellDef="let element"> {{element.technique?.name}} </td>
                </ng-container>

                <ng-container matColumnDef="motorista" >
                    <th class="availability-table__table-header" mat-header-cell *matHeaderCellDef > MOTORISTA </th>
                    <td class="availability-table__table-body" mat-cell *matCellDef="let element"> {{element.driver?.name}} </td>
                </ng-container>

                <ng-container matColumnDef="status" >
                    <th class="availability-table__table-header" mat-header-cell *matHeaderCellDef > STATUS </th>
                    <td class="availability-table__table-body" mat-cell *matCellDef="let element">
                        <div class="availability-table__content-badge" [ngClass]="element.status">
                            <span>{{statusToString(element.status)}}</span>
                        </div>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            
        </mat-card-content>
    </mat-card>
    
    