@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.confirmada {
    background-color: $green;
}
  
.pendente {
    background-color: $yellow;
}

.cancelada {
    background-color: $red;
}
  
.excluida {
    background-color: magenta;
}