    <app-layout>
        <mat-toolbar class="page-header" role="heading">
            <h1>Alterar senha </h1>
        </mat-toolbar>

        <div class="tables-wrapper">
            <form [formGroup]="form">
                <mat-card class="card-change-user-password">
                    <mat-card-content>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>E-mail</mat-label>
                                    <input matInput placeholder="E-mail" formControlName="email">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nova senha</mat-label>
                                    <input type="password" matInput placeholder="Nova senha " formControlName="password">
                                </mat-form-field>
                                <span class="text">A nova senha tem que ter no mínimo 8 caracteres.</span>
                                
                            </div>
                        </div>
                        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">Alterar</button>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>

    </app-layout>